@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #959eac;
    font-family: 'Overpass', sans-serif;
}

body {
    padding: 20px;
    background-color: #121417;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 15px;
}
main {
    padding: 35px;
    background-color: #1c232d;
    width: 410px;
    height: 420px;
    border-radius: 2em;
}
.main-content {

}
.main-content .pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232F3B;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.main-content .text h1 {
    margin-top: 35px;
    color: #ffffff;
}
.main-content .text p {
    margin: 15px 0;
}
.main-content .buttons {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}
.main-content .active {
    background-color: #7c8798!important;
    color: #fff;
}
.main-content .buttons button{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2a333c;
    transition: .3s;
}
.main-content .buttons button:hover {
    background-color: #fb7413;
    color: #ffffff;
}
.main-content .buttons p {
}
.main-content .submit button {
    background-color: #fb7413;
    color: #ffffff;
    font-size: 1.1em;
    letter-spacing: 1px;
    width: 100%;
    height: 45px;
    border-radius: 2em;
    transition: .3s;
}
.main-content .submit button:hover {
    background-color: white;
    color: #fb7413;
}
.thanks {
    display: none;
    flex-direction: column;
    align-items: center;
}
.thanks picture img{
    margin: 20px 0;
}
.thanks .results {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262f38;
    width: 200px;
    height: 30px;
    border-radius: 2em;
}
.thanks .results p {
    color: #fb7413;
}
.thanks h2 {
    font-size: 2em;
    color: #ffffff;
    margin: 35px 0 20px 0;
}
.thanks p {
    text-align: center;
}


footer {
    position: absolute;
    bottom: 10px;
}
footer p {
    color: #ffffff99;
}
footer p a {
    color: #fb7413;
}
